<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctl.common.mapper.SysExportNamesMapper">
  <resultMap id="BaseResultMap" type="com.ctl.common.po.SysExportNames">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="filenamepath" jdbcType="VARCHAR" property="filenamepath" />
    <result column="filenameurl" jdbcType="VARCHAR" property="filenameurl" />
    <result column="flag" jdbcType="CHAR" property="flag" />
    <result column="tablename" jdbcType="VARCHAR" property="tablename" />
    <result column="savetime" jdbcType="TIMESTAMP" property="savetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, filename, filenamepath, filenameurl, flag, tablename, savetime
  </sql>
  <select id="selectByExample" parameterType="com.ctl.common.po.SysExportNamesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_export_names
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_export_names
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_export_names
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ctl.common.po.SysExportNamesExample">
    delete from sys_export_names
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ctl.common.po.SysExportNames">
    insert into sys_export_names (id, filename, filenamepath, 
      filenameurl, flag, tablename, 
      savetime)
    values (#{id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{filenamepath,jdbcType=VARCHAR}, 
      #{filenameurl,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR}, #{tablename,jdbcType=VARCHAR}, 
      #{savetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ctl.common.po.SysExportNames">
    insert into sys_export_names
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="filenamepath != null">
        filenamepath,
      </if>
      <if test="filenameurl != null">
        filenameurl,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="tablename != null">
        tablename,
      </if>
      <if test="savetime != null">
        savetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filenamepath != null">
        #{filenamepath,jdbcType=VARCHAR},
      </if>
      <if test="filenameurl != null">
        #{filenameurl,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
      <if test="tablename != null">
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="savetime != null">
        #{savetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ctl.common.po.SysExportNamesExample" resultType="java.lang.Long">
    select count(*) from sys_export_names
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_export_names
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null">
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filenamepath != null">
        filenamepath = #{record.filenamepath,jdbcType=VARCHAR},
      </if>
      <if test="record.filenameurl != null">
        filenameurl = #{record.filenameurl,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=CHAR},
      </if>
      <if test="record.tablename != null">
        tablename = #{record.tablename,jdbcType=VARCHAR},
      </if>
      <if test="record.savetime != null">
        savetime = #{record.savetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_export_names
    set id = #{record.id,jdbcType=INTEGER},
      filename = #{record.filename,jdbcType=VARCHAR},
      filenamepath = #{record.filenamepath,jdbcType=VARCHAR},
      filenameurl = #{record.filenameurl,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=CHAR},
      tablename = #{record.tablename,jdbcType=VARCHAR},
      savetime = #{record.savetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ctl.common.po.SysExportNames">
    update sys_export_names
    <set>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filenamepath != null">
        filenamepath = #{filenamepath,jdbcType=VARCHAR},
      </if>
      <if test="filenameurl != null">
        filenameurl = #{filenameurl,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=CHAR},
      </if>
      <if test="tablename != null">
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="savetime != null">
        savetime = #{savetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ctl.common.po.SysExportNames">
    update sys_export_names
    set filename = #{filename,jdbcType=VARCHAR},
      filenamepath = #{filenamepath,jdbcType=VARCHAR},
      filenameurl = #{filenameurl,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=CHAR},
      tablename = #{tablename,jdbcType=VARCHAR},
      savetime = #{savetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>