<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanshow.wise.base.common.dao.SysResourceMapper">
  <resultMap id="BaseResultMap" type="com.hanshow.wise.base.common.model.SysResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="resourcetype" jdbcType="INTEGER" property="resourcetype" />
    <result column="isdefault" jdbcType="INTEGER" property="isdefault" />
    <result column="hasChild" jdbcType="INTEGER" property="haschild" />
    <result column="createdatetime" jdbcType="TIMESTAMP" property="createdatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, url, description, icon, pid, seq, state, resourcetype, isdefault, hasChild, 
    createdatetime
  </sql>
  <select id="selectByExample" parameterType="com.hanshow.wise.base.common.model.SysResourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hanshow.wise.base.common.model.SysResourceExample">
    delete from sys_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hanshow.wise.base.common.model.SysResource">
    insert into sys_resource (id, name, url, 
      description, icon, pid, 
      seq, state, resourcetype, 
      isdefault, hasChild, createdatetime
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{seq,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{resourcetype,jdbcType=INTEGER}, 
      #{isdefault,jdbcType=INTEGER}, #{haschild,jdbcType=INTEGER}, #{createdatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hanshow.wise.base.common.model.SysResource">
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="resourcetype != null">
        resourcetype,
      </if>
      <if test="isdefault != null">
        isdefault,
      </if>
      <if test="haschild != null">
        hasChild,
      </if>
      <if test="createdatetime != null">
        createdatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="resourcetype != null">
        #{resourcetype,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null">
        #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="haschild != null">
        #{haschild,jdbcType=INTEGER},
      </if>
      <if test="createdatetime != null">
        #{createdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hanshow.wise.base.common.model.SysResourceExample" resultType="java.lang.Long">
    select count(*) from sys_resource
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_resource
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.seq != null">
        seq = #{record.seq,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.resourcetype != null">
        resourcetype = #{record.resourcetype,jdbcType=INTEGER},
      </if>
      <if test="record.isdefault != null">
        isdefault = #{record.isdefault,jdbcType=INTEGER},
      </if>
      <if test="record.haschild != null">
        hasChild = #{record.haschild,jdbcType=INTEGER},
      </if>
      <if test="record.createdatetime != null">
        createdatetime = #{record.createdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_resource
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=INTEGER},
      seq = #{record.seq,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      resourcetype = #{record.resourcetype,jdbcType=INTEGER},
      isdefault = #{record.isdefault,jdbcType=INTEGER},
      hasChild = #{record.haschild,jdbcType=INTEGER},
      createdatetime = #{record.createdatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanshow.wise.base.common.model.SysResource">
    update sys_resource
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="resourcetype != null">
        resourcetype = #{resourcetype,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null">
        isdefault = #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="haschild != null">
        hasChild = #{haschild,jdbcType=INTEGER},
      </if>
      <if test="createdatetime != null">
        createdatetime = #{createdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanshow.wise.base.common.model.SysResource">
    update sys_resource
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      seq = #{seq,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      resourcetype = #{resourcetype,jdbcType=INTEGER},
      isdefault = #{isdefault,jdbcType=INTEGER},
      hasChild = #{haschild,jdbcType=INTEGER},
      createdatetime = #{createdatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据用户编号获取资源列表（上下级和按钮，递归）start -->

  <resultMap id="sysResourceMap" type="com.hanshow.wise.base.common.model.dto.SysResourceDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="resourcetype" jdbcType="INTEGER" property="resourcetype" />
    <result column="createdatetime" jdbcType="TIMESTAMP" property="createdatetime" />
    <collection property="childSysResourceList"  ofType="com.hanshow.wise.base.common.model.dto.SysResourceDto" javaType="java.util.ArrayList" select="selectPrivilegesByPid" column="{userId=userId,pid=id}">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="url" jdbcType="VARCHAR" property="url" />
      <result column="description" jdbcType="VARCHAR" property="description" />
      <result column="icon" jdbcType="VARCHAR" property="icon" />
      <result column="pid" jdbcType="INTEGER" property="pid" />
      <result column="userId" jdbcType="INTEGER" property="userId" />
      <result column="seq" jdbcType="INTEGER" property="seq" />
      <result column="state" jdbcType="INTEGER" property="state" />
      <result column="resourcetype" jdbcType="INTEGER" property="resourcetype" />
      <result column="createdatetime" jdbcType="TIMESTAMP" property="createdatetime" />
    </collection>
  </resultMap>

  <select id="selectPrivilegesByPid" parameterType="map" resultMap="sysResourceMap">
    SELECT DISTINCT
    sr.id,
    sr.name,
    sr.url,
    sr.description,
    sr.pid,
    sr.resourcetype,
    sr.hasChild,
    <if test="userId!=null">
      #{userId,jdbcType=INTEGER} as userId
    </if>
    FROM
    sys_user_role sur
    LEFT JOIN sys_role_resource srr ON sur.role_id = srr.role_id
    LEFT JOIN sys_resource sr ON srr.resource_id = sr.id
    WHERE 1=1
    <if test="pid!=null">
      and sr.pid = #{pid,jdbcType=INTEGER}
    </if>
    <if test="userId!=null">
      and sur.user_id=#{userId,jdbcType=INTEGER}
    </if>
    order by
    sr.seq asc,
    sr.createdatetime ASC
  </select>

  <select id="getSysResourceByUserId" parameterType="java.lang.Integer" resultMap="sysResourceMap">
    SELECT
    DISTINCT
    sr.id,
    sr.name,
    sr.url,
    sr.description,
    sr.pid,
    sr.resourcetype,
    sr.hasChild,
    #{id,jdbcType=INTEGER} as userId
 /*   CASE
    WHEN sr.resourcetype = 0
    THEN
    'menu'
    WHEN sr.resourcetype = 1
    THEN
    'btn'
    ELSE
    0
    END AS privilegez*/
    FROM
    sys_user_role sur
    LEFT JOIN sys_role_resource srr ON sur.role_id = srr.role_id
    LEFT JOIN sys_resource sr ON srr.resource_id = sr.id
    WHERE
    sur.user_id = #{id,jdbcType=INTEGER}
    AND pid IS NULL
    ORDER BY
    sr.seq asc,
    sr.createdatetime ASC
  </select>
  <!--根据用户编号获取资源列表（上下级和按钮，递归）end -->

</mapper>